[Desktop Entry]
Version=1.0
Type=Application
Name=Paperboy
Comment=Automatic PDF Print Router
Exec=paperboy-configure
Icon=paperboy
Terminal=false
Categories=Utility;Office;
Keywords=print;pdf;printer;label;routing;
StartupNotify=true
